$primary: red;
// $light: white;
$dark: orange;
$body-color: white;
// $navbar-light-color: yellow;
$navbar-dark-color: purple;

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/css/font-awesome.css';

@import './footer';

$bodyBg: #082634;

body  {
  background: #ffffff;
  padding-top: 100px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color: #ececec;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 39px, rgba(203, 209, 212, 0.88) 35px, rgba(255, 255, 255, 0.5) 40px);
}

.logo {
  position: absolute;
  margin: auto;
  left: calc(50% - 50px);

  &-image {
    width: 100px;
    height: 124px;
    filter: invert(1);
    background-size: contain;
  }

  &-text {
    position: absolute;
    width: 120px;
    top: 130px;

    &-1, &-2 {
      // position: absolute;
    }
  }
}

.header {
  position: absolute;
  background: white;
  width: 60%;
  right: 0;
  top: 4px;
  height: 60px;
  line-height: 60px;
  padding-left: 6%;
  text-transform: uppercase;
  overflow: hidden;

  &-bar {
    top: 0px;
    position: absolute;
    height: 70px;
    background: #082634;
    width: 100%;
  }

  &-bar1 {
    top: 65px;
    position: absolute;
    height: 4px;
    background: white;
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    left: -15%;
    top: 0;
    bottom: 0;
    width: 20.4%;
    background: #082634;
    -webkit-transform: skew(-23deg);
    transform: skew(-23deg);
    z-index: 10;
    width: 19%;
    left: -9.3%;
    z-index: 10;
  }

  &::after {
    content: "";
    position: absolute;
    left: -15%;
    top: 0px;
    bottom: 0;
    width: 20.4%;
    background: #cbd1d4;
    -webkit-transform: skew(-23deg);
    transform: skew(-23deg);
    z-index: 10;
    width: 922px;
    left: 558px;
    z-index: 10;
  }

  ul {
    list-style-type: none;
    margin: 0;
    list-style: none;
    height: 80px;
    overflow: hidden;
    padding-left: 5rem;
    font-size: 14px;

    li {
      display: inline-block;
      color: black;
      z-index: 2;
      min-width: 100px;

      a {
        font-size: 1.5rem;
        display: block;
        padding: 2.75rem 1rem;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        transition: color 0.2s ease-out 0.1s;
        color: black;
        padding-top: 0;
        font-size: 14px;
      }
    }
  }
}

.tlogo {
  right: 57%;
  color: white;
  z-index: 10;
  position: absolute;
  top: 23px;
  font-weight: bold;
  text-shadow: #00000059 2px 4px 10px;
  z-index: 12;
}

.badge {
  // background: url('../assets/img/solution-badge.png');
}

.main-section {
  margin-top: 40px;
}

.logan {
  background: url('../assets/img/logan1.jpg');
  background-size: 156%;
  background-position-y: -41px;
  border-radius: 50%;
  background-position-x: -75px;
  box-shadow: #0000001a 0px 10px 10px 4px;
  filter: grayscale(1);
}

.daniel {
  background: url('../assets/img/daniel2.png');
  background-size: 180px;
  background-position-y: 0px;
  border-radius: 50%;
  box-shadow: #0000001a 0px 10px 10px 4px;
  filter: grayscale(1);
}

.author {
  text-align: center;
  min-height: 200px;
  color: #747474;

  &-image {
    width: 180px;
    height: 180px;
    left: calc(50% - 90px);
    position: absolute;
    top: 0;

    &:hover {
      filter: none;
      transition: all 0.4s;
    }
  }

  &-text {
    margin-top: 210px;
    text-shadow: #00000059 2px 4px 10px;
    letter-spacing: 2px;
    color: #4e4e4e;
  }

  &-wrapper {
    background: #ffffff9c;
    height: 96%;
    width: 97%;
    position: absolute;
    left: 1.5%;
    top: -28px;
    z-index: -1;
    box-shadow: #00000012 1px 1px 4px;
    display: none;
  }
}

.left {
    position: absolute;
    left: -15%;
    top: 0;
    bottom: 0;
    width: 20.4%;
    background: $bodyBg;
    transform: skew(-23deg);
    z-index: 10;
    width: 25%;
    left: -16.3%;
    z-index: 10;
    box-shadow: #afafaf 7px -35px 0px;
}

.left-1 {
  position: absolute;
  top: 150px;
  bottom: 0;
  background: #082634;
  transform: skew(-23deg);
  width: 2%;
  left: 26%;
  z-index: 10;
  height: 150px;
}

.left-2 {
  position: absolute;
  top: 150px;
  bottom: 0;
  background: #082634;
  transform: skew(-23deg);
  width: calc(2% - 20px);
  left: calc(26% + 51px);
  z-index: 10;
  height: 150px;
}

.text-main {
  display: block;
  position: absolute;
  font-size: 92px;
  color: #082634;
  z-index: 99;
  left: 640px;
  top: 165px;
}

.audit {
  background: #082634;
  /* height: 96%; */
  border: 1px solid #082634;
  /* width: 97%; */
  /* left: 1.5%; */
  color: white;
  /* top: -28px; */
  font-weight: 100;
  /* z-index: -1; */
  box-shadow: #00000012 1px 1px 4px;

  &-features {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: white;

    li {
      padding: 10px;
    }
  }
}
